.home-container{
    margin-top: 8%;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.home-container button{
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 8px;
    margin-top: 2%;
    color: white;
    background-image: linear-gradient(brown, crimson);
}
.home-container button:hover{
    cursor: pointer;
}
.home-text{
    font-size: 20px;
    font-weight: 700;
}
#first-h1{
    color: rgb(113, 113, 241);
}
#second-h1{
    color: rgb(142, 211, 211);
}
.home-img{
    margin-top: 15%;
    
}